<% layout('./layout/boilerplate') -%>


<div class="border p-3 mx-auto w-50 mt-5">
  <h1>SignUp</h1>
  <form action="/register" method="post">
      <div class="mb-3">
          <label for="username" class="form-label">UserName</label>
          <input type="text" name="username" class="form-control" id="username">
      </div>    
      <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
      </div>   
      <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email">
      </div>
      <div class="mb-3">
        <label for="consumer">Consumer</label>
        <input type="radio" name="role" id="consumer" value="consumer">
        
        <label for="retailer">Retailer</label>
        <input type="radio" name="role" id="retailer" value="retailer">
      </div>
      <div>
        <span>Already have an account ?</span>
        <span><a href="/login">Login</a></span>
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-sm">Submit</button>
  </form>
</div>